[submodule "NestJS/fund-rasing"]
	path = NestJS/fund-rasing
	url = https://github.com/zEkoR1/fund-rasing.service.git
[submodule "NestJS/sharing"]
	path = NestJS/sharing
	url = https://github.com/zEkoR1/sharing.servive.git
[submodule "Python/tea_management"]
	path = Python/tea_management
	url = https://github.com/YourBestDream/tea_management_microservice.git
[submodule "Kotlin/lost_and_found"]
	path = Kotlin/lost_and_found
	url = https://github.com/tutaf/pad-lostnfound.git
[submodule "Kotlin/budgeting"]
	path = Kotlin/budgeting
	url = https://github.com/tutaf/pad-budgeting.git
[submodule "Python/communication"]
	path = Python/communication
	url = https://github.com/YourBestDream/communication_microservice.git
